.services {
  position: relative;
  margin-top: 100px;
  &::selection {
    background-color: transparent !important; /* Makes the highlight invisible */
    color: inherit; /* Keeps the text color unchanged */
  }
  .services__header {
    width: 100%;
  }

  .services__content__container {
    position: relative;
    top: 0;
    left: -210%;
    transition: left 1s ease;
    &.slideIn{
        left: 0;
    }
    // overflow-x: hidden;
    margin-top: 30px;
    .services__content {
      .services__content_img {
        width: 100%;
        height: 100%;
        border-radius: 30px;
        background: rgba(36, 190, 224, 10%);
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      h6 {
        margin-top: 10px;
      }
    }
  }
}
