@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;    
    font-size: 16px;
}

body{
    background: #F7FCFD;
}

h1{
    font-size: 72px;
    font-weight: bold;
    line-height: 116%;
}
h2{
    font-size: 48px;
    font-weight: bold;
    line-height: 112.5%;
}

h3{
    font-size: 24px;
    font-weight: bold;
    line-height: 112.5%;
}

a{
    text-decoration: none !important;
    color: #062126 !important;
}

.controls {
    margin-left: auto;
    outline: none !important;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #24bee0;
      cursor: pointer;
      &:hover {
        background: rgba(36, 190, 224, 30%);
        box-shadow: 0 10px 13px -9px rgba(36, 190, 224, 0.3) !important;
      }
      &:nth-child(1) {
        margin-right: 10px;
      }

      &.disabled {
        background: rgba(196, 196, 196, 20%);
        cursor: not-allowed;
        box-shadow: none !important;
      }
    }

    span::selection {
        background-color: transparent !important; /* Makes the highlight invisible */
        color: inherit; /* Keeps the text color unchanged */
    }
  }

.onCall__Card__Container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .onCall__card {
        max-width: 372px;
        flex: 1 0 31.3333%; /* Ensures each item takes up 1/3rd of the row */
        margin-right: 10px; /* Adjust as needed */    
        border-radius: 30px;
        &:hover, &.onCall__Card__Shadow {
            background: #fff;         
            border-radius: 30px;
            margin-top: 10px;
            transition: top 3s ease-in-out;
        }
        .img__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background: rgba(36, 190, 224, 10%);
            /* img {
            } */
        }
    
        p {
            color: rgba(6, 33, 38, 70%);
            max-width: 306px;
        }
    }        
}

@media screen and (max-width: 992px) {
    .onCall__Card__Container{        
        .onCall__card {
            flex: 1 0 45%;
        }
    }
}

@media screen and (max-width: 768px) {
    h1{
        font-size: 48px;
    }

    h2{
        font-size: 24px;
    }

    .controls {
        span{
            width: 30px;
            height: 30px;
            img{
                height: 10.23px;
            }
        }
    }
    .onCall__Card__Container{        
        .onCall__card {            
            flex: 1 0 33%;
        }
    }
    
}

@media screen and (max-width: 578px) {
    .onCall__Card__Container{
        .onCall__card {
            max-width: 100%;
            flex: 1 0 100%;
        }
    }
}
